[Unit]
Description=Battery notification daemon
Documentation=man:batify(1)
PartOf=wm.target

[Service]
ExecStart=/bin/batify -t 5 --critical-level 4
Restart=on-abort

[Install]
WantedBy=wm.target
