[Unit]
Description=PulseAudio notification daemon
Documentation=man:pa-notify(1)
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/bin/pa-notify -t 5
Restart=on-abort

[Install]
WantedBy=dunst.service
