[Unit]
Description=Idle manager for Wayland
Documentation=man:swayidle(1)
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swayidle -w \
          timeout 300 'tools.sh lock' resume 'tools.sh unblank' \
          timeout 600 'tools.sh suspend' resume 'tools.sh unblank' \
          lock 'tools.sh lock' \
          unlock 'tools.sh unlock' \
          before-sleep 'tools.sh lock'

[Install]
WantedBy=niri.service
