[Unit]
Description=swaybg
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swaybg --output '*' --mode fill --image "/usr/share/pixmaps/archlinux-wallpaper.png"
Restart=on-failure

[Install]
WantedBy=niri.service
