[Unit]
Description=Idle manager for Wayland
Documentation=man:swayidle(1)
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swayidle -w \
          timeout 180 'tools.sh lock' \
          timeout 300 'tools.sh suspend' \
          before-sleep 'tools.sh lock' \
          after-resume 'tools.sh after-resume'

[Install]
WantedBy=niri.service
