[Unit]
Description=Waybar
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/bin/waybar
Restart=on-failure

[Install]
WantedBy=niri.service
