[Unit]
Description=XBacklight notification daemon
Documentation=man:xbacklight-notify(1)
PartOf=wm.target

[Service]
ExecStart=/bin/xbacklight-notify -t 5
Restart=on-abort

[Install]
WantedBy=wm.target
