*
!.bashrc
!.profile
!.colors
!.Xkbmap
!.gitignore
!.SpaceVim.d/init.toml
!.config/requirements.txt
!.config/alacritty/*
!.config/dunst/*
!.config/i3/*
!.config/polybar/*
!.config/rofi/*
!.config/gtk-3.0/*
!.config/systemd/user/wm.target
!.config/systemd/user/*.service
!.local/bin/i3-tools
!.local/bin/startup

