*
!.bashrc
!.profile
!.xinitrc
!.colors
!.gitignore
!.SpaceVim.d/
!.SpaceVim.d/init.toml
!.config/
!.config/gdb/
!.config/gdb/*
!.config/alacritty/
!.config/alacritty/*
!.config/dunst/
!.config/dunst/*
!.config/i3/
!.config/i3/*
!.config/git/
!.config/git/*
!.config/polybar/
!.config/polybar/*
!.config/rofi/
!.config/rofi/*
!.config/gtk-3.0/
!.config/gtk-4.0/
!.config/anyrun/
!.config/anyrun/*
!.config/systemd/
!.config/systemd/user/
!.config/systemd/user/*.service
!.local/
!.local/bin/
!.local/bin/tools.sh
!.local/share/
!.local/share/bash-completion/
!.local/share/bash-completion/completions/
!.local/share/bash-completion/completions/*
