* {
    font-family: Fira Code, siji;
    font-size: 12px;

    border: none;
    border-radius: 0;

    padding: 0 1 0 1;
    margin: 0 1 0 1;
}

window#waybar {
  background-color: rgba(0, 0, 0, 1);
  color: #eaeaea;
}

#workspaces button {
  padding: 0 2 0 2;
}

#workspaces button.focused {
  background-color: #383838;
  color: #fff;

  border-bottom: 2px solid #fba922;
}


#clock {
  border-bottom: 2px solid #e6c547;
}


#language {
  color: #70c0ba;

  border-bottom: 2px solid #70c0ba;
}

#backlight {
  border-bottom: 2px solid #b9ca4a;
}

#pulseaudio {
  border-bottom: 2px solid #7aa6da;
}

#battery {
  border-bottom: 2px solid #d53e53;
}

#network {
  border-bottom: 2px solid #54ced6;
}

#custom-power {
    font-size: 20px;
}

