* {
    font-family: Inter, "Ubuntu Nerd Font", siji;
    font-size: 13px;

    border: none;
    border-radius: 0;

    padding: 0 1 0 1;
    margin: 0 1 0 1;
}

window#waybar {
    background-color: #131313;
    color: #dddddd;
}

#workspaces button {
    padding: 0 2 0 2;
}

#workspaces button.focused {
    background-color: #303030;
    color: #dddddd;

    border-bottom: 2px solid #f0edde;
}

#clock {
    border-bottom: 2px solid #ded9b7;
}

#language {
    color: #fdd888;

    border-bottom: 2px solid #fdd888;
}

#backlight {
    border-bottom: 2px solid #62ba46;
}

#pulseaudio {
    border-bottom: 2px solid #c28b12;
}

#battery {
    border-bottom: 2px solid #c74028;
}

#network {
    border-bottom: 2px solid #fdd888;
}

#custom-power {
    font-size: 15px;
}
