dunst
polybar 
pa-notify 
xbacklight-notify
batify2
pavucontrol 
xss-lock
network-manager-applet

ttf-caladea 
ttf-dejavu 
ttf-gentium-basic 
ttf-liberation 
noto-fonts 
adobe-source-code-pro-fonts 
adobe-source-sans-fonts 
adobe-source-serif-fonts 
ttf-unifont 
siji-git 
ttf-ubuntu-font-family

vlc
firefox
file-roller 
font-manager 
telegram-desktop 
nautilus 
evince 
nm-connection-editor 
pycharm-professional 
zoom 

libreoffice-still 
hunspell 
hunspell-en_us 
hunspell-ru 

xorg-xbacklight
yad
i3lock-fancy-git
scrot
upower
dnsutils
dmidecode
yandex-disk
